$mobile-only: "only screen and (max-width : 768px)";
$laptop-only: "only screen and (min-width : 769px)";

:host >>> pre {
  white-space: pre-wrap;
}

.profile {
  padding: 30px;
}

@media #{$mobile-only} {
  .profile {
    padding: 110px 15px 0 15px;
  }
  .title-block {
    font-size: 15px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 75px;
  }
  .back-button {
    position: absolute;
    top: 52%;
    width: 0.6rem;
    height: 0.6rem;
    background: transparent;
    box-shadow: 0 0 0 lightgray;
    transition: all 200ms ease;
    left: 4%;
    transform: translate3d(0, -50%, 0) rotate(-135deg);
  }
  .item-header {
    padding-bottom: 10px;
    background-color: #fff;
    padding: 10px 0 10px 0;
    position: fixed;
    width: 100%;
    left: 0;
    top: 62px;
    height: 20px;
  }
}

@media #{$laptop-only} {
  .mobile {
    display: none;
  }
}

h1 {
  font-weight: bold;
  font-size: 19px;  
  padding-bottom:3px;
}

.detail {
  font-weight: bold;
  color: #696969;
  font-size: 16px;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

.submissions{  
  cursor: pointer;
  color: #ff6600;
  padding-top: 15px;
}

.right {
  float: right;
}


@media #{$mobile-only} {
  .main-details {
    margin-top: 20px;
    .name {
      font-size: 18px;
    }
  }
}

@media #{$mobile-only} {
  .main-details .right {
    font-size: 18px;
  }
}

.other-details {
  word-wrap: break-word;
}